<h2>Who bought <%= @product.title %></h2>
<h2>Updated at <%= @latest_order.try(:updated_at) %></h2>

<% @product.orders.each do |order| %>
<h4>Order id: <%= order.id %></h4>
<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Total Price</th>
  </tr>
  <% order.line_items.each do |item| %>
  <tr>
    <td><%= item.product.title %></td>
    <td><%= item.quantity %></td>
    <td><%= number_to_currency item.total_price %></td>
  </tr>
  <% end %>
</table>
<% end %>
